.speech {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color:black;
  }
  .directions{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
  }
  .directions:hover{
    background-color: palevioletred;
  }
  .OHANO{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color:blue;
  }
  .ZAMA{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color:goldenrod;
  }
.tableupdated
{
    color:darkmagenta;
    text-align: center; 
    padding: 60px;
    margin:20px;
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 10px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }